.error {
  color: red;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.success {
  color: green;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

body {
  background: linear-gradient( to right, #ffebb4, #ffffff);
  background-position: center top;
  background-size: cover;
}

